{% extends "partials/base.html" %}

{% block content %}

        <img src="static/img/About.png" alt="" id="back">
        <div class="cas">
            <div class="about">
                <h1><span>Our</span><br>Developer</h1>
                <div class="swiper mySwiper container">
                    <div class="swiper-wrapper content">
                        <div class="swiper-slide card" id="c1">
                            <div class="card-content">
                                <div class="image">
                                    <img src="static/img/fandi.jpg" alt="">
                                </div>
                                <div class="name-profession">
                                    <h2>Achmad Affandi F. (Project Leader)</h2>
                                    <h3>NIM. 082111633030</h3>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide card" id="c2">
                            <div class="card-content">
                                <div class="image">
                                    <img src="static/img/coki.jpg" alt="">
                                </div>
                                <div class="name-profession">
                                    <h2>Coki Rofin Martogi Nababan</h2>
                                    <h3>NIM. 082111633022</h3>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide card" id="c2">
                            <div class="card-content">
                                <div class="image">
                                    <img src="static/img/asraf.jpg" alt="">
                                </div>
                                <div class="name-profession">
                                    <h2>Asraf Ayyasi Putra</h2>
                                    <h3>NIM. 082111633032</h3>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide card" id="c2">
                            <div class="card-content">
                                <div class="image">
                                    <img src="static/img/nur.jpg" alt="">
                                </div>
                                <div class="name-profession">
                                    <h2>Nur Syamsiana</h2>
                                    <h3>NIM. 082111633035</h3>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide card" id="c2">
                            <div class="card-content">
                                <div class="image">
                                    <img src="static/img/figo.jpg" alt="">
                                </div>
                                <div class="name-profession">
                                    <h2>Mohammad Figo Yushistira W</h2>
                                    <h3>NIM. 082111633044</h3>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide card" id="c2">
                            <div class="card-content">
                                <div class="image">
                                    <img src="static/img/isaura.jpg" alt="">
                                </div>
                                <div class="name-profession">
                                    <h2>Annisa Isaura Alfiany</h2>
                                    <h3>NIM. 082111633049</h3>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide card" id="c2">
                            <div class="card-content">
                                <div class="image">
                                    <img src="static/img/farid.jpg" alt="">
                                </div>
                                <div class="name-profession">
                                    <h2>M. Farid Fatchur Rohmad</h2>
                                    <h3>NIM. 082111633062</h3>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide card" id="c2">
                            <div class="card-content">
                                <div class="image">
                                    <img src="static/img/raffi.jpg" alt="">
                                </div>
                                <div class="name-profession">
                                    <h2>Raffi Achmad Riandri</h2>
                                    <h3>NIM. 082111633064</h3>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide card" id="c2">
                            <div class="card-content">
                                <div class="image">
                                    <img src="static/img/alfariza.jpg" alt="">
                                </div>
                                <div class="name-profession">
                                    <h2>Muhammad Alfariza Rasendria</h2>
                                    <h3>NIM. 082111633067</h3>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide card" id="c2">
                            <div class="card-content">
                                <div class="image">
                                    <img src="static/img/fauzan.jpg" alt="">
                                </div>
                                <div class="name-profession">
                                    <h2>Muhammad Fauzan Ramadhan</h2>
                                    <h3>NIM. 082111633080</h3>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Add Pagination -->
                    <div class="swiper-pagination"></div>
                </div>
                <div class="swipe">*Drag down to see more!</div>
            </div>
        </div>

    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>

    <script type="text/javascript">
        var swiper = new Swiper(".mySwiper", {
            direction: "vertical",
            slidesPerView: 2,
            spaceBetween: 10,
            slidesPerGroup: 2,
            loop: false,
            loopFillGroupWithBlank: true,
            pagination: {
                el: ".swiper-pagination",
                clickable: true,
            },
            autoplay: {
                delay: 10000, 
                disableOnInteraction: false,
            },
        });

    </script>


{% endblock %}