{% extends "partials/base.html" %}

{% block content %}

        <div class="contents">
            <div class="contain">
                <div class="part">
                    <h1><span>SEAREQ</span>uestion</h1>
                </div>
                <div class="part">
                    <div class="box1">
                        <h2>Q</h2>
                        <P>Bagaimana cara Saya dapat menggunakan website ini?</P>
                    </div>
                    <div class="box2">
                        <h2>A</h2>
                        <P>Mekanisme penggunaan website SEAREQ dapat digunakan dengan 
                            memasukkan jurusan yang Anda inginkan. Kemudian Sistem Kami akan 
                            menampilkan requirements jurusan terinput yang 
                            relevan dengan Industri saat ini</P>
                    </div>
                </div>
                <div class="part">
                    <div class="box1">
                        <h2>Q</h2>
                        <P>Apakah semua jurusan bisa dilakukan pencarian?</P>
                    </div>
                    <div class="box2">
                        <h2>A</h2>
                        <P>Tentu saja, Ayo temukan kebutuhan yang perlu kamu asah sedini mungkin!</P>
                    </div>
                </div>
                <div class="part">
                    <div class="box1">
                        <h2>Q</h2>
                        <P>Apakah data yang ditampilkan up-to-date dengan kebutuhan saat ini?</P>
                    </div>

                    <div class="box2">
                        <h2>A</h2>
                        <P>SEAREQ pasti dan akan terus berkomitmen untuk melakukan pembaharuan bagi setiap jurusannya.</P>
                    </div>
                </div>
                </div>
            </div>
        </div>

        {% endblock %}