{% extends "partials/base.html" %}

{% block content %}

        <div class="contents">
            <div class="contain">
                <div class="part">
                    <h1><span>SEAREQ</span>uestion</h1>
                </div>
                <div class="part">
                    <div class="box1">
                        <h2>Q</h2>
                        <P>How can I use this website?</P>
                    </div>
                    <div class="box2">
                        <h2>A</h2>
                        <P>
                            The mechanism for using the SEAREQ website can be used by
                            entering the major you want. Then Our System will
                            displays the requirements for the input department
                            relevant to today's industry job field
                        </P>
                    </div>
                </div>
                <div class="part">
                    <div class="box1">
                        <h2>Q</h2>
                        <P>Can all major be searched?</P>
                    </div>
                    <div class="box2">
                        <h2>A</h2>
                        <P>Of course, Let's find what you need to learn as early as possible
                        </P>
                    </div>
                </div>
                <div class="part">
                    <div class="box1">
                        <h2>Q</h2>
                        <P>
                            Is the data displayed up to date with the current needs?
                            ?</P>
                    </div>

                    <div class="box2">
                        <h2>A</h2>
                        <P>
                            SEAREQ will always be committed to update each major that being displayed. 
                        </P>
                    </div>
                </div>
                </div>
            </div>
        </div>

        {% endblock %}