{% extends "partials/base.html" %}

{% block content %}  
<script src="https://cdn.tailwindcss.com"></script>

    <section class="home">
        <div class="content">
            <img src="../static/img/bg-home.png" alt="">

            <h1>
                <span>SEA</span>rch for Stakeholder <span>REQ</span>uirements for Your Major
            </h1>

            <p>Want to know more about what qualification need by the industry?
                SEAREQ is the perfect platform for you to enhance your skill
                based on the needs of the industry!
            </p>

            <div class="sb-container">
                <a href="search" class="py-3 px-4 rounded-custom text-white shadow-xl bg-blue-600 border-blue-600 hover:bg-white hover:border hover:border-blue-600 hover:text-blue-600 focus:outline-none focus:ring focus:ring-blue-300 transition-all">Search Major</a>
            </div>

            <!-- <div class="sb-container">
                <form action="" class="search-box">
                    <button type="submit"><span class="material-symbols-outlined">search</span></button>
                    <input type="text" id="input-box" placeholder="What is your major" autocomplete="off"> -->
                    <!-- <button type="reset"><span class="material-symbols-outlined">close</span></button> -->
                <!-- </form> -->
                
                <!-- <div class="result-box">
                    <ul> -->
                        <!-- <li>information system</li>
                        <li>information management</li>
                        <li>information system management</li> -->
                    <!-- </ul>
                </div> -->
            </div>
        </div>
    </section>

    <!-- <script src="../static/js/autocomplete.js"></script> -->
    {% endblock %}