{% extends "partials/base.html" %}

{% block content %}
        <header>
            <a href="/" class="logo">SEAREQ</a>
    
            <nav class="navbar">
                <div class="menus">
                    <a href="major">Major</a>
                    <a href="/about">About</a>
                    <a href="/faq">FAQ</a>
                </div>
    
                <div class="icon">
                    <a href="/search">
                        <span class="material-symbols-outlined">search</span>
                    </a>
                </div>
            </nav>
        </header>

        <div class="contents">
            <div class="contain">
                <div class="part2">
                    <h1><span>Major<span></h1>
                </div>
                <div class="part2">
                    <div class="box2">
                        <h2>Arts and Humanities</h2>
                        <div class="listmajor">
                            <ul class="major">
                                {% for item in majorAH %}
                                    <form action="{% url 'getByHistory' %}" method="POST" style="border: none;">
                                        {% csrf_token %}
                                        <input type="text" name="getByHistory" style="display: none;" value="{{ item.nama_prodi }}">
                                        <button style="border: none; background: none; padding: 0; cursor: pointer;">
                                            <li style="list-style-type: none;">{{ item.nama_prodi }}</li>
                                        </button>
                                    </form>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
                
                <div class="part2">
                    <div class="box2">
                        <h2>Engineering and Technology</h2>
                        <div class="listmajor">
                            <ul class="major">
                                {% for item in majorET %}
                                    <form action="{% url 'getByHistory' %}" method="POST" style="border: none;">
                                        {% csrf_token %}
                                        <input type="text" name="getByHistory" style="display: none;" value="{{ item.nama_prodi }}">
                                        <button style="border: none; background: none; padding: 0; cursor: pointer;">
                                            <li style="list-style-type: none;">{{ item.nama_prodi }}</li>
                                        </button>
                                    </form>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="part2">
                    <div class="box2">
                        <h2>Life Sciences and Medicine</h2>
                        <div class="listmajor">
                            <ul class="major">
                                {% for item in majorLSM %}
                                    <form action="{% url 'getByHistory' %}" method="POST" style="border: none;">
                                        {% csrf_token %}
                                        <input type="text" name="getByHistory" style="display: none;" value="{{ item.nama_prodi }}">
                                        <button style="border: none; background: none; padding: 0; cursor: pointer;">
                                            <li style="list-style-type: none;">{{ item.nama_prodi }}</li>
                                        </button>
                                    </form>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="part2">
                    <div class="box2">
                        <h2>Natural Sciences</h2>
                        <div class="listmajor">
                            <ul class="major">
                                {% for item in majorNS %}
                                    <form action="{% url 'getByHistory' %}" method="POST" style="border: none;">
                                        {% csrf_token %}
                                        <input type="text" name="getByHistory" style="display: none;" value="{{ item.nama_prodi }}">
                                        <button style="border: none; background: none; padding: 0; cursor: pointer;">
                                            <li style="list-style-type: none;">{{ item.nama_prodi }}</li>
                                        </button>
                                    </form>
                                {% endfor %}
                            </ul>
                        </div>
                </div>
                
                <div class="part2">
                    <div class="box2">
                        <h2>Social Sciences and Management</h2>
                        <div class="listmajor">
                            <ul class="major">
                                {% for item in majorSSM %}
                                    <form action="{% url 'getByHistory' %}" method="POST" style="border: none;">
                                        {% csrf_token %}
                                        <input type="text" name="getByHistory" style="display: none;" value="{{ item.nama_prodi }}">
                                        <button style="border: none; background: none; padding: 0; cursor: pointer;">
                                            <li style="list-style-type: none;">{{ item.nama_prodi }}</li>
                                        </button>
                                    </form>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>

            </div>
        </div>

        {% if error_message %}
            <script>
                document.addEventListener('DOMContentLoaded', function () {
                Swal.fire({
                    icon: 'error',
                    title: 'Error!',
                    text: '{{ error_message }}',
                });
                });
            </script>
        {% endif %}

        {% endblock %}