{% extends "partials/base.html" %}

{% block content %}
        <header>
            <a href="./" class="logo">SEAREQ</a>
    
            <nav class="navbar">
                <div class="menus">
                    <a href="major">Major</a>
                    <a href="about">About</a>
                    <a href="faq">FAQ</a>
                </div>
    
                <div class="icon">
                    <a href="search">
                        <span class="material-symbols-outlined">search</span>
                    </a>
                </div>
            </nav>
        </header>

        <div class="contents">
            <div class="contain">
                <div class="part2">
                    <h1><span>Major<span></h1>
                </div>
                <div class="part2">
                    <div class="box3">
                            <h2>Sains dan Teknologi</h2>
                            <div class="listmajor">
                                <ul class="major">
                                    <a href="output"><li>information system</li></a>
                                    <a href="output"><li>information management</li>
                                    <a href="output"><li>information system management</li>
                                    <a href="output"><li>information system</li></a>
                                </ul>
                                <ul class="major">
                                    <a href="output"><li>information system</li></a>
                                    <a href="output"><li>information management</li>
                                    <a href="output"><li>information system management</li>
                                    <a href="output"><li>information system</li></a>
                                </ul>
                                <ul class="major">
                                    <a href="output"><li>information system</li></a>
                                    <a href="output"><li>information management</li>
                                    <a href="output"><li>information system management</li>
                                    <a href="output"><li>information system</li></a>
                                </ul>
                                <ul class="major">
                                    <a href="output"><li>information system</li></a>
                                    <a href="output"><li>information management</li>
                                    <a href="output"> <li>information system management</li>
                                    <a href="output"><li>information system</li></a>
                                </ul>
                                <ul class="major">
                                    <a href="output"><li>information system</li></a>
                                    <a href="output"><li>information management</li>
                                    <a href="output"><li>information system management</li>
                                    <a href="output"><li>information system</li></a>
                                </ul>
                                <ul class="major">
                                    <a href="output"><li>information system</li></a>
                                    <a href="output"><li>information management</li>
                                    <a href="output"> <li>information system management</li>
                                    <a href="output"><li>information system</li></a>
                                </ul>
                                <ul class="major">
                                    <a href="output"><li>information system</li></a>
                                    <a href="output"><li>information management</li>
                                    <a href="output"><li>information system management</li>
                                    <a href="output"><li>information system</li></a>
                                </ul>
                            </div>
                    </div>
                </div>
                
                <div class="part2">
                    <div class="box3">
                            <h2>Sosial Humaniora</h2>
                            <div class="listmajor">
                                <ul class="major">
                                    <a href="output"><li>ilmu Hukum</li></a>
                                    <li>ilmu Komunikasi</li>
                                    <li>Hubungan Internasional</li>
                                    <a href="output"><li>akutansi</li></a>
                                    <li>antropologi</li>
                                    <li>Ilmu Politik</li>
                                </ul>
                                <ul class="major">
                                    <a href="output"><li>ilmu Hukum</li></a>
                                    <li>ilmu Komunikasi</li>
                                    <li>Hubungan Internasional</li>
                                    <a href="output"><li>akutansi</li></a>
                                    <li>antropologi</li>
                                    <li>Ilmu Politik</li>
                                </ul>
                                <ul class="major">
                                    <a href="output"><li>ilmu Hukum</li></a>
                                    <li>ilmu Komunikasi</li>
                                    <li>Hubungan Internasional</li>
                                    <a href="output"><li>akutansi</li></a>
                                    <li>antropologi</li>
                                    <li>Ilmu Politik</li>
                                </ul>
                                <ul class="major">
                                    <a href="output"><li>ilmu Hukum</li></a>
                                    <li>ilmu Komunikasi</li>
                                    <li>Hubungan Internasional</li>
                                    <a href="output"><li>akutansi</li></a>
                                    <li>antropologi</li>
                                    <li>Ilmu Politik</li>
                                </ul>
                                <ul class="major">
                                    <a href="output"><li>ilmu Hukum</li></a>
                                    <li>ilmu Komunikasi</li>
                                    <li>Hubungan Internasional</li>
                                    <a href="output"><li>akutansi</li></a>
                                    <li>antropologi</li>
                                    <li>Ilmu Politik</li>
                                </ul>
                                <ul class="major">
                                    <a href="output"><li>ilmu Hukum</li></a>
                                    <li>ilmu Komunikasi</li>
                                    <li>Hubungan Internasional</li>
                                    <a href="output"><li>akutansi</li></a>
                                    <li>antropologi</li>
                                    <li>Ilmu Politik</li>
                                </ul>
                                <ul class="major">
                                    <a href="output"><li>ilmu Hukum</li></a>
                                    <li>ilmu Komunikasi</li>
                                    <li>Hubungan Internasional</li>
                                    <a href="output"><li>akutansi</li></a>
                                    <li>antropologi</li>
                                    <li>Ilmu Politik</li>
                                </ul>
                            </div>
                    </div>
                </div>
            </div>
        </div>

        {% endblock %}