{% extends "partials/base.html" %}

{% block content %}
        <header>
            <a href="/" class="logo">SEAREQ</a>
    
            <nav class="navbar">
                <div class="menus">
                    <a href="major">Major</a>
                    <a href="/about">About</a>
                    <a href="/faq">FAQ</a>
                </div>
    
                <div class="icon">
                    <a href="search">
                        <span class="material-symbols-outlined">search</span>
                    </a>
                </div>
            </nav>
        </header>

        <div class="contents">
            <div class="contain">
                <div class="part2">
                    <h1><span>Major<span></h1>
                </div>
                <div class="part2">
                    <div class="box2">
                        <h2>Arts and Humanities</h2>
                        <div class="listmajor">
                            <ul class="major">
                                {% for item in majorAH %}
                                <a href="/history/major/find?q={{ item.nama_prodi|urlencode }}"><li>{{ item.nama_prodi }}</li></a>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
                
                <div class="part2">
                    <div class="box2">
                        <h2>Engineering and Technology</h2>
                        <div class="listmajor">
                            <ul class="major">
                                {% for item in majorET %}
                                <a href="/history/major/find?q={{ item.nama_prodi|urlencode }}"><li>{{ item.nama_prodi }}</li></a>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="part2">
                    <div class="box2">
                        <h2>Life Sciences and Medicine</h2>
                        <div class="listmajor">
                            <ul class="major">
                                {% for item in majorLSM %}
                                <a href="/history/major/find?q={{ item.nama_prodi|urlencode }}"><li>{{ item.nama_prodi }}</li></a>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="part2">
                    <div class="box2">
                        <h2>Natural Sciences</h2>
                        <div class="listmajor">
                            <ul class="major">
                                {% for item in majorNS %}
                                <a href="/history/major/find?q={{ item.nama_prodi|urlencode }}"><li>{{ item.nama_prodi }}</li></a>
                                {% endfor %}
                            </ul>
                        </div>
                </div>
                
                <div class="part2">
                    <div class="box2">
                        <h2>Social Sciences and Management</h2>
                        <div class="listmajor">
                            <ul class="major">
                                {% for item in majorSSM %}
                                <a href="/history/major/find?q={{ item.nama_prodi|urlencode }}"><li>{{ item.nama_prodi }}</li></a>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>

            </div>
        </div>

        {% endblock %}