<!-- {% extends "partials/base.html" %}
{% block content %} -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>output</title>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"
    />
    <link rel="stylesheet" href="/static/css/style_output.css" />
    <!-- <link rel="stylesheet" href="./static/css/swiper.css" /> -->
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="/static/css/index.css" />
  </head>

  <body>
    <header class="py-3">
      <a href="/" class="logo">SEAREQ</a>

      <nav class="navbar">
        <div class="menus">
          <a href="/history/major">Major</a>
          <a href="/about">About</a>
          <a href="/faq">FAQ</a>
        </div>

        <div class="icon">
          <a href="/search">
            <span class="material-symbols-outlined">search</span>
          </a>
        </div>
      </nav>
    </header>
    <div class="row_o mt-[75px] w-full flex justify-end">
      <div class="col_o-1 fixed left-0">
        <section class="cloud"></section>

        <script src="https://d3js.org/d3.v5.min.js"></script>
        <script src="https://cdn.jsdelivr.net/gh/jasondavies/d3-cloud/build/d3.layout.cloud.js"></script>
        <script src="/static/js/wordcloud.js"></script>
        <form
          action="{% url 'getByQuery' %}"
          method="POST"
          class="search-box"
          id="search-form"
        >
          {% csrf_token %}
          <div class="">
            <input
              type="text"
              value="{{ query }}"
              name="getByQuery"
              class="hidden"
            />
            <button
              type="submit"
              class="py-2 px-3 rounded-xl text-white shadow-xl bg-blue-600 hover:bg-blue-700 active:bg-blue-700 focus:outline-none focus:ring focus:ring-blue-300 transition-all"
            >
              see new version
            </button>
            <span class="last_up">*Last Updated {{date_generated}}</span>
          </div>
        </form>
      </div>

      <div class="col_o-2 w-full">
        <div class="output">
          <div class="judul pt-1">Top Requirements for</div>
          <div class="judul2">{{query}}</div>
          <div class="isi">
            {% for termObj in terms_with_description %}
            <div class="tab_o">
              <input type="radio" name="acc" id="acc{{ forloop.counter }}" />
              <input
                class="scoreHidden"
                style="display: none"
                type="text"
                value="{{termObj.term}}_{{termObj.score}}"
              />
              <div class="kotak_o">
                <label
                  for="acc{{ forloop.counter }}"
                  class="flex flex-row justify-between items-center h-[60px] pe-3"
                >
                  <span class="skill">{{termObj.term}}</span>
                  <span class="no_skill">{{ forloop.counter }}</span>
                </label>
              </div>
              <div class="content_o">
                <p>{{termObj.summary}}</p>
              </div>
            </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </body>
</html>

<!-- <div
        class="md:w-5/12 flex flex-col justify-center items-center gap-3 mt-20 pb-10"
      >
        <div class="mb-4 text-center">
          <div class="text-xl my-8 text-slate-500 mb-1">
            Top 10 Requirements for
          </div>
          <div class="text-5xl font-bold text-slate-700 uppercase">
            {{query}}
          </div>
        </div>
        {% for termObj in terms_with_description %}
        <div
          class="flex flex-col w-4/5 text-xl justify-between items-center bg-blue-500 text-white rounded-xl px-5"
        >
          <div class="flex flex-row w-full justify-between items-center">
            <div class="uppercase">{{termObj.term}}</div>
            <div class="font-bold text-2xl">{{ forloop.counter }}</div>
          </div>
          <div class="text-xs">{{termObj.summary}}</div>
        </div>
        {% endfor %}
      </div>
    </div>
  </body>
</html> -->

<!-- {% endblock %} -->
